<!-- <h1>Hola que tal</h1> -->
<!-- <p>{{title}}</p> -->
<!-- <b>El contador es: {{contador}}</b> -->

<!-- <hr/> -->

<!-- *LA WUEA DE (CLICK) ES PARA COLOCAR LOS EVENTOS DE JAVASCRIPT EN EL HTML  -->
<!-- <button (click)="incrementasBy(1)">+1</button>
<button (click)="resetMethod(10)">Reset</button>
<button (click)="incrementasBy(-1)">-1</button> -->


<!-- Al momento de llamar a un componente, de esta forma, los valores del componente SON INDEPENDIENTES
OSEA QUE SI AQUI TIENES UN CONTADOR Y EN EL OTRO OTRO CONTADOR MAS, los valores que estean ahi seran
INDEPENDIENTES -->
<!-- <app-counter></app-counter> -->


<app-dbz-main-page></app-dbz-main-page>

<!-- <app-hero></app-hero> -->
<!-- <app-hero-list></app-hero-list> -->